<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wenas</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" id="">
      <input type="submit" value="Upload">

    </form>
    <br><br><br>
    <div class="download-section">
      <table>
        <tr>
          <td>File</td>
          <td>Download</td>
        </tr>
        {% if files %}
          {% for file in files %}
            {% if file %}
              <tr>
                <td>{{ file }}</td>
                <td><a href="http://127.0.0.1:5000/download/{{file}}">Download</a></td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endif %}
      </table>
    </div>
</body>
</html>